/* (jEdit options) :folding=explicit:collapseFolds=1: */
body {
    color : #000000 ;
    background-color : #fbfdf2 ;
}

a:link { color : #000099 ; }
a:active { color : #0000cc ; }
a:visited { color : #000099 ; }

span.inactive {
    color : #666666 ;
}

div.pageheader img {
    float : right ;
}

div.leftnav {
}

div.pagecontent {
}

div.pagefooter {
}
