/* (jEdit options) :folding=explicit:collapseFolds=1: */
body {
    color : #000000 ;
    background-color : #cccc99 ;
	font-family : Helvetica, Arial, sans-serif ;
}

img { border : none ; }

/* Order that these appear in is important to Safari, apparently. */
a {	text-decoration : none ; }
a:link { color : #000099 ; }
a:visited { color : #000099 ; }
a:hover { text-decoration : underline ; }
a:active { color : #0000cc ; }

span.inactive {
    color : #666666 ;
}

div.pageheader {
    margin-bottom : 0.5em ;
}
div.pageheader h1 {
    text-align : center ;
}

div.leftnav {
}

div.pagecontent {
    background-color : #ffffff ;
    border : 1px solid #666666 ;
    padding : 0.4em ;
}

div.pagefooter {
    font-size : smaller ;
    text-align : right ;
    margin-top : 0.5em ;
}

div.alert {
    background-color : #ff9999 ;
    color : #330000 ;
    text-align : justify ;
    border : 1px solid #330000 ;
    padding : 0.4em ;
}
